html{
    width: 100%;
    box-sizing: border-box;
    background-image: url(https://images.pexels.com/photos/210922/pexels-photo-210922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: scroll;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;

}
h1 {
    font-weight: 400;
    text-align: center;
}
h2 {
    text-align: center;
}

.contenido {
    background-color: #ffffff66;
    max-width: 1100px;
    margin:  0 auto;
    height: 100%;
    padding: 20px;
}

.formulario-busqueda p {
    text-align: center;
}
.formulario-busqueda span {
    color: red;
}

.input {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.input label {
    flex: 0 0 120px;
    text-align: right;
    margin-right: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.input span {
    color: rgb(12, 10, 10);
}
.input input[type="text"] {
    height: 2.5rem;
    padding: 1rem;
    display: flex;
    flex: 1;
    border-radius: 10px;
    border: 1px solid;
}
.enviar {
    text-align: right;
    justify-content: flex-end!important;
}
.input input[type="submit"]{
    background-color: black;
    padding: .5rem 2rem;
    color: white;
    align-self: flex-end;
    border:none;
    transition: background-color .3s ease-in-out;
} 
.input input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ce0934;
}

.error {
    padding: 1rem;
    background: rgb(21, 21, 71);
    color: white;
    text-align: center;
}


#resultado {
    white-space: pre-wrap;
    padding: 2rem;
}

@media (min-width:768px) {
    body {
        display: flex;
    }
    .contenedor {
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor > div {
        flex: 1 0 50%;
    }
}
@media (max-width:767px){
    html {
        background-image: url(https://images.pexels.com/photos/1010519/pexels-photo-1010519.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
    .contenido {
        width: 100%;
    }
}